<!DOCTYPE html>
<html lang>
  
  <head>

    <title>Search Thing</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css">
  </head>

  <body>

    <center>
      <div class="page-header">
	<h1 position="fixed" top="50%">QuerySearch - Search for Queries!</h1>
      </div>
    </center>
    
    <center>  
      <div class="col-lg-8 col-lg-offset-2">
	{% block information %}
	<br>
	<br>
	<form>
	  <div class="form-group">
	    
	    <input class="form-control input-lg" type="text" id="inputLarge" name="query" placeholder="Ask Us Something!">
	    <br>
	    <div class="col-lg-6 col-lg-offset-3">
	      <input type="submit" class="btn btn-danger btn-lg btn-primary btn-block" type="button" name="askbutton" value="Ask!">
	    </div>
	  </div>
	</form>
	{% endblock information %}
      </div>
    </center>
  </body>
</html>
